<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns:amq="http://activemq.apache.org/schema/core"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd">

  <!-- For mail settings and future properties files -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="ignoreUnresolvablePlaceholders" value="true" />
    <property name="locations">
      <list>
        <value>classpath:jms.properties</value>
      </list>
    </property>
  </bean>
  
  <!-- Message Driven POJO (MDP) -->
  <bean id="topicMessageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
    <constructor-arg>
      <bean class="com.zzvc.mmps.jms.task.manager.TopicMessageListenerTaskManager"/>
    </constructor-arg>
    <property name="defaultListenerMethod" value="handleMessage" />
    <property name="messageConverter" ref="zipMessageConverter" />
  </bean>

  <bean id="queueMessageListener" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
    <constructor-arg>
      <bean class="com.zzvc.mmps.jms.task.manager.QueueMessageListenerTaskManager"/>
    </constructor-arg>
    <property name="defaultListenerMethod" value="handleMessage" />
    <property name="messageConverter" ref="zipMessageConverter" />
  </bean>

  <bean id="zipMessageConverter" class="com.zzvc.mmps.jms.message.converter.ZippedMessageConverter" />

  <bean id="topicJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <constructor-arg ref="connectionFactory" />
    <property name="defaultDestination" ref="topicDestination" />
    <property name="messageConverter" ref="zipMessageConverter" />
  </bean>

  <bean id="queueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    <constructor-arg ref="connectionFactory" />
    <property name="defaultDestination" ref="queueDestination" />
    <property name="messageConverter" ref="zipMessageConverter" />
  </bean>

  <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
    <constructor-arg ref="amqConnectionFactory" />
    <property name="sessionCacheSize" value="100" />
  </bean>

  <amq:topic id="topicDestination" physicalName="${jms.destination.topic}" />
  <amq:queue id="queueDestination" physicalName="${jms.destination.queue}" />

  <amq:connectionFactory id="amqConnectionFactory" brokerURL="${jms.broker.url}" />

</beans>